body {
    background-color: #ffffff;
    color: #353833;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 800px;
}

h1 { font-size: 17pt; color: #859044; text-align: center; }
h2 { font-size: 16pt; color: #859044; text-align: center; }
h3 { font-size: 15pt; color: #859044; font-style:italic; }
h4 { font-size: 14pt; color: #859044; }
h5 { font-size: 13pt; color: #859044; }
h6 { font-size: 12pt; color: #859044; }

label, legend {
    font-weight: bold;
}
label:after, legend:after {
    content: ':';
}
textarea { field-sizing: content; }
.field {
    display: flex;
    flex-direction: row;
}
.field:nth-child(odd)  { background: #EEEEEE; }
.field:nth-child(even) { background: #FFFFFF; }
.field label {
    width: 30%;
    display: block;
}
.field span {
    width: 70%;
}
.field input, .field textarea {
    width: 99%;
}
.field th {
    text-align: left;
    white-space: nowrap;
}
.field td { /* child table*/
    vertical-align: top;
}
.field td input { /* child table*/
    width: 90%;
}
.field td textarea { /* child table*/
    width: 90%;
    min-width: 200px;
}
.field input[type="number"] {
    width: 75px;
    text-align: right;
}
.field a.url-link, .field a.geo-link, .field a.transcript-link, .field a.cross-reference, td a.url-link, td a.geo-link, td a.transcript-link, td a.cross-reference {
    position: absolute;
    padding: 5px;
    text-decoration: none;
}
.field input[type="url"], .field.geo-location input, .field.transcript-link input, .field.cross-reference input, td input[type="url"], td.geo-location input, td.transcript-link input, td.cross-reference input {
    padding-left: 20px;
}

.field input:invalid, .field textarea:invalid {
  outline: red solid 3px;
}

fieldset table {
    width: 100%;
}

th.save-column {
    width: 34px;
}

button img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    vertical-align: center; /* for Firefox, ignored by Chrome */
}

footer {
    text-align: center;
    font-style: italic;
}

.error {
    color: red;
}

progress {
    width: 100%;
}

/* Layout on narrower screens */
@media all and (max-width: 640px) {
    .field { flex-direction: column; }
    .field span, .field label { width: 95vw; }
}
