body {
    background-color: #ffffff;
    color: #353833;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 800px;
}
details>summary {
    cursor: pointer;
    font-weight: bold;
}
body>details>summary {
    cursor: help;
    list-style-type: '🛈';
    font-weight: normal;
}

h1 { font-size: 17pt; color: #859044; text-align: center; }
h2 { font-size: 16pt; color: #859044; text-align: center; }
h3 { font-size: 15pt; color: #859044; font-style:italic; }
h4 { font-size: 14pt; color: #859044; }
h5 { font-size: 13pt; color: #859044; }
h6 { font-size: 12pt; color: #859044; }

label {
    font-weight: bold;
}
label:after {
    content: ':';
}
.field {
    display: flex;
    flex-direction: row;
}
.field label {
    width: 50%;
    display: block;
}
.field span {
    width: 50%;
}
.field input[type="number"] {
    width: 75px;
}

footer {
    text-align: center;
    font-style: italic;
}

.error {
    color: red;
}

progress {
    width: 100%;
}

#uploadForm {
    padding-bottom: 20px;
}
#sample {
    border-collapse: collapse;
    display: inline-table;
    max-width: 90vw;
    overflow: auto;
}
#sample th input {
    width: 95%;
}
#sample td {
    border: 1px solid silver;
}

/* Layout on narrower screens */
@media all and (max-width: 640px) {
    .field { flex-direction: column; }
    .field span, .field label { width: 100%; }
}
