h1, h2, h3, h4, h5 {
    color:#859044;
}
a:link, a:visited {
    color:#859044;
}
.table.table-striped {
    width: fit-content;
}
.example {
    max-width: 1000px;
    border: 1px solid #96A339;
    & th {
        text-align: left;
        white-space: nowrap;
    }
    & td {
        text-align: center;
        width: 10%;
    }
    & .entity {
        color: #96A339;
    }
    & caption {
        font-style: italic;
    }
}
