html, body {
  margin: 1mm; 
  font-family: helvetica, arial, verdana, sans-serif; 
  color: #111111; 
  font-size: 11pt;
}
figure {
    margin: 1mm;
}
figure img {
    max-width: 90vw;
}

/* Wide display */
@media all and (min-width: 640px) {
    html, body {
        margin: 5mm;
    }
    figure {
        margin: 10mm;
    }
}
